@using Domain.Const
@{
    Layout = "";
}
@model List<OrdersDetailsResponeVM>
@foreach (var item in Model)
{
    <tr>
        <td>@item.OrderId</td>
        <td>
            <a href="#">
                <img class="img-thumbnail w-50" src="~/@item.ProductImgUrl" alt="Product Image" />
            </a>
        </td>
        <td>@item.ProductName</td>
        <td>
            <p>@item.ProductPrice $</p>
        </td>
        <td>@item.ReadyTime.ToString("hh\\:mm\\:ss")</td>
        <td>@item.Quantity</td>
        <td>
            <input type="checkbox" id="isPaid_@($"{item.OrderId}-{item.ProductId}")" name="isPaid_@($"{item.OrderId}-{item.ProductId}")" @(item.IsPaid ? "checked" : "") />
        </td>
        <td>@((item.IsGuest) ? "Yes" : "No")</td>
        <td>
            @(Enum.GetName(typeof(OrderStatus), item.Status))
        </td>
        <td>@item.OfficeBoyName</td>
        <td>@item.DepartmentName</td>
        <td>
            <a href="#" class="btn btn-primary btn-sm cancel-link" onclick="updateIsPaid(@item.OrderId, @item.ProductId)">Update</a>
        </td>
    </tr>
}
