@using Domain.Const
@{
    Layout = "";
}
@model List<OrderProductsResponseOrderVM>
@foreach (var item in Model)
{
    <tr>
        <td class="quantity-box">@item.OrderId</td>

        <td class="thumbnail-img">
            <a href="#">
                <img class="img-fluid" src="~/@item.ProductImgUrl" alt="Product Image" />
            </a>
        </td>
        <td class="quantity-box">@item.ProductName</td>

        <td class="price-pr">
            <p>@item.ProductPrice $</p>
        </td>
        <td class="quantity-box">@item.ReadyTime.ToString("hh\\:mm\\:ss")</td>

        <td class="quantity-box">@item.Quantity</td>
        <td class="quantity-box">@(item.IsPaid ? "Yes" : "No")</td>
        <td class="quantity-box">@(item.IsGuest ? "Yes" : "No")</td>
        <td class="quantity-box">@item.Status </td>
        
        <td class="quantity-box">@item.OfficeBoyName</td>
        <td class="quantity-box">@item.DepartmentName</td>
        <td class="remove-pr">
            <a href="#" class="cancel-link" onclick="updateStatus(@item.ProductId, @item.OrderId)">Cancel</a>
        </td>
    </tr>
}
